@import "mixins"

.btn
	border-radius 2em

@keyframes kfs_tooltip
	0%
		opacity 0
		transform scale(0.9)
	100%
		opacity .8
		transform scale(1)

.tooltip.in
	animation kfs_tooltip 200ms
	.tooltip-inner
		border-radius 2em

#NB-notifications
	position absolute
	top 0.3em
	right 0.2em
	z-index 10000
	font-size 1em

	.noti
		position relative
		display none
		border-radius 10em
		padding 0.5em 1em
		margin 0.5em
		background rgba(44, 218, 134, 0.7)
		right 0
		color #fff

		&.red
			background rgba(255, 63, 101, 0.7)
