<!DOCTYPE html>
<html>
<head>
	<?= head ?>

	<?= css(class_name) ?>

	<meta name="viewport" content="user-scalable=no">

	<script type="text/javascript">
		// Main namespace.
		var FL = {}
	</script>

	<title><?- _.l('Flee') ?></title>
</head>
<body>

	<div id="main" class="font-n">
		<canvas id='stage' class='blur'></canvas>

		<div id="stage-info" class="font-l text-center">
			<div class="logo">
				Fl
				<img src="/app/img/shuttle.png" alt="flee">
				e
			</div>
			<div class="result">
				<span class='smiley'></span>
				<span class='time'></span>s
			</div>
			<div class='tap'>Tap to Start</div>
		</div>

		<canvas id="controller"></canvas>

		<div id="controller-info" class="text-center font-l">
			Move Mouse or <br> Touch Move Here <br> to Control
		</div>

		<div id="display">
			<div>
				<i class='fa fa-clock-o'></i>
				<span class='time'>0.00</span>
			</div>
			<div>
				<i class='fa fa-asterisk'></i>
				<span class='ammo'>0</span>
			</div>
			<div>
				<i class='fa fa-trophy'></i>
				<span class='best'>0</span>
			</div>
			<div>
				<span class='version'>Ver. 1.1</span>
			</div>
			<div>
				<a class='github' href='https://github.com/ysmood/flee'>
					<i class='fa fa-github'></i>
					Github
				</a>
			</div>
			<div>
				<a class='author' href='http://ysmood.org'>Feb 2014 ys</a>
			</div>
		</div>

		<!-- Global modal message box. -->
		<div id="NB-notifications" class="font-n">
		</div>

	</div>

	<?= foot ?>

	<?= js(
		'app',
		'renderer',
		'stage',
		'shuttle',
		'ammo',
		'controller',
		'bg'
	) ?>

	<script type="text/javascript">

		new FL.App();

	</script>

</body>
</html>