<!DOCTYPE html>
<html>
<head>
	<?= head ?>

	<?= css(class_name) ?>

	<script type="text/javascript">
		// Main namespace.
		var FL = {}
	</script>

	<title><?- _.l('Flee') ?></title>
</head>
<body>

	<div id="main">
		<canvas id='stage'></canvas>

		<div id="controller">
			<div class="anchor"></div>
		</div>

		<div id="display">
			<div>
				<label>
					FPS:
					<span class='fps'></span>
				</label>
			</div>
		</div>
	</div>

	<?= foot ?>

	<?= js(
		'app',
		'renderer',
		'stage',
		'shuttle',
		'controller'
	) ?>

	<script type="text/javascript">

		new FL.App();

	</script>

</body>
</html>