<!DOCTYPE html>
<html>
<head>
	<?= head ?>

	<?= css(class_name) ?>

	<meta name="viewport" content="width=device-width, user-scalable=no">

	<script type="text/javascript">
		// Main namespace.
		var FL = {}
	</script>

	<title><?- _.l('Flee') ?></title>
</head>
<body>

	<div id="main">
		<canvas id='stage'></canvas>

		<div id="stage-info" class="hide text-center">
			( °Д °;)
		</div>

		<canvas id="controller"></canvas>

		<div id="controller-info" class="text-center">Tap to Start</div>

		<div id="display">
			<div>
				<i class='fa fa-clock-o'></i>
				<span class='time'>0.00</span>
			</div>
			<div>
				<i class='fa fa-asterisk'></i>
				<span class='ammo'>0</span>
			</div>
			<div>
				<i class='fa fa-flag'></i>
				<span class='best'>0</span>
			</div>
		</div>
	</div>

	<?= foot ?>

	<?= js(
		'app',
		'renderer',
		'stage',
		'shuttle',
		'ammo',
		'controller'
	) ?>

	<script type="text/javascript">

		new FL.App();

	</script>

</body>
</html>