<!DOCTYPE html>
<html>
<head>
	<?= head ?>

	<?= css(class_name) ?>

	<script type="text/javascript">
		// Main namespace.
		var FL = {}
	</script>

	<title><?- _.l('Flee') ?></title>
</head>
<body>

	<div id="main">
		<canvas id='stage'></canvas>

		<canvas id="controller"></canvas>

		<div id="display">
			<div>
				FPS:
				<span class='fps'></span>
			</div>
			<div>
				Time:
				<span class='time'></span>
			</div>
		</div>
	</div>

	<?= foot ?>

	<?= js(
		'app',
		'renderer',
		'stage',
		'shuttle',
		'ammo',
		'controller'
	) ?>

	<script type="text/javascript">

		new FL.App();

	</script>

</body>
</html>