html, body
	overflow hidden
	font-size 16px
	background #2D2D4B
	&.large
		font-size 26px
	&.small
		font-size 12px

#main
	position relative
	margin auto
	background url('/app/img/bg_cloud.png') repeat

#stage
	display block
	margin auto
	border-bottom 0.2em solid #6E87A2
	background url('/app/img/bg_cloud.png') repeat

	&.blur
		-webkit-filter blur(3px)
		filter blur(3px)

#stage-info
	position absolute
	width 100%
	top 0
	font-size 4em
	color #343C47
	text-shadow 0.05em 0.05em 0.1em #6C6375
	background rgba(120, 66, 148, 0.4)
	padding-top 1em
	.logo
		font-size 2em
		img
			width 0.7em
	.result
		display none
		color #fff
	.time
		color #FF6CFF
	.tap
		color #fff


#foot
	position relative

#controller-info
	position absolute
	width 100%
	font-size 2em
	top 2em
	cursor default
	color #fff
	text-shadow 0.05em 0.05em 0.1em #507C67

#controller
	display block
	position relative
	margin auto
	border-radius 1em
	background rgba(87, 162, 132, 0.82)

#display
	position absolute
	top 0
	padding 0.1em 0.3em
	display inline-block
	color #E25E1F
	background rgba(255, 255, 255, 0.55);
	border-radius 0.3em
	font-size 1.5em

	.version
		color #555
	.version, .github, .author
		font-size 0.7em

#btn-play-ctrl
	position absolute
	top 0.2em
	right 0.5em
	font-size 1.4em
	padding 0.3em 1em
