
#stage
	display block
	margin auto
	border 1px solid #aaa

#controller
	position relative
	background #ccc
	margin auto

	.anchor
		position absolute
		width 10%
		height 10%
		margin 0
		border-radius 100%
		background #fff