html, body
	overflow hidden

#main
	position relative
	margin auto

#stage
	display block
	margin auto
	background #eee

#stage-info
	position absolute
	width 100%
	top 0
	font-size 30pt
	text-shadow 1pt 1pt 4pt #ADA6C4
	.time
		color rgb(204, 39, 138)

#controller-info
	position absolute
	width 100%
	bottom 0
	font-size 16pt
	background #aaa
	cursor pointer

#controller
	display block
	position relative
	background #ccc
	margin auto

#display
	position relative
	padding-left 3pt

	&.large
		font-size 16pt

	&.small
		font-size 10pt
